img {
    height: 500px;
  }
  #name {
    color:#3366FF;
  }
  
  #result {
    color: #99FF33;
  }
  
  div.polaroid {
    width: 500px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0.2, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  
  div.container {
    padding: 10px;
  }